@font-face{
    font-family: lato;
    src: url('../fonts/Lato-Regular.ttf');
}

*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: lato; 
    font-size: 20px;
}

.red{
	color: red;
}

.branco{
    color: #cccccc;
}

/*-----CSS MODAL CONTATOS-----*/
#modal{
    width: 800px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

#container{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    position: fixed;
    z-index: 999;
    display: none;
}

#dadosContatos{
    border: solid 4px #333333;
    border-radius: 20px;
    background-color: #cccccc;
}

.fechar{
    font-family: monospace;
    float: right;
    margin-right: 12px;
    color: #000000;
    font-weight: bold;
    transition: 0.5s;
    font-size: 30px;
}

.fechar:hover{
    color: #b00000;
    transform: scale(1.3);
    transition: 0.5s;
}

.fechar:active{
    color: #f00000;
    transition: 0.5;
}

.tituloDados{
    text-align: center;
    font-weight: bold;
}

.linhaDados{
    font-weight: bold;
}

.linhaDadosTexto{
    font-weight: bold;
    text-align: center;
}

.linhaDadosB{
    text-align: left;
}
/*-----FIM CSS MODAL CONTATOS-----*/

#visualizarNoticia{
    width: 170px;
    height: 230px;
}

#visualizarNoticia img{
    max-width: 170px;
    max-height: 230px;
}

#visualizarCelebridade{
    width: 150px;
    height: 300px;
}

#visualizarCelebridade img{
    max-width: 150px;
    max-height: 300px;
}

#uploadFoto{
    visibility: hidden;
}

.textoGrande{
    font-size: 25px;
    font-weight: bold;
}

.textoNegrito{
    font-weight: bold;
}

#caixaPrincipal{
    height: 1000px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 60px;
    border: solid 3px #c7b800;
}

#caixaLogo{
    height: 100px;
    width: 700px;
    background-color: #ffea00;
    border-top-left-radius: 55px;
    border-top-right-radius: 55px;;
    line-height: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

#logo{
    height: 100px;
    width: 100px;
    margin-right: 20px;
    float: right;
}

#logo img{
    max-height: 100px;
    max-width: 100px;
    margin-right: 0px;
    transition: 0.2s;
}

#logo img:hover{
    max-height: 100px;
    max-width: 100px;
    margin-right: 0px;
    transform: scale(1.1);
    transition: 0.2s;
    cursor: pointer;
}

#caixaOpcoes{
    height: 130px;
    width: 780px;
    padding: 10px;
    background-color: #333333;
}

.caixaItem{
    height: 110px;
    width: 110px;
    font-weight: bold;
    font-size: 13px;
    background-color: #ffea00;
    text-align: center;
    float: left;
    margin-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    transition: 0.2s;
    color: #000000;
}

.caixaItem:hover{
    background-color: #ffff56;
    transform: scale(1.1);
    transition: 0.2s;
    cursor: pointer;
}

.caixaItem img{
    height: 70px;
    width: 70px;
}

#caixaUsuario{
    color: #cccccc;
    text-align: right;
    float: right;
}

#caixaConteudo{
    height: 600px;
    width: 750px;
    padding: 25px;
    background-color: #555555;
}

.colunaConteudo, .colunaConteudoContatoNivel{
    height: 600px;
    width: 375px;
    float: left;
}

.colunaConteudoContatoNivel{
    overflow: auto;
}

.caixaOpcao{
    height: 140px;
    width: 355px;
    line-height: 140px;
    margin-bottom: 10px;
    background-color: #cccccc;
    font-size: 30px;
    border-radius: 15px;
    transition: 0.2s;
    color: #000000;
}

.caixaOpcao:hover{
    background-color: #ffff56;
    font-weight: bold;
    transform: scale(1.1);
    transition: 0.2s;
    cursor: pointer;
}

.imagemOpcao{
    height: 120px;
    width: 100px;
    line-height: 140px;
    padding-top: 20px;
    margin-left: 10px;
    margin-right: 20px;
    float: left;
}

.imagemOpcao img{
    height: 100px;
    width: 100px;   
}

.caixaContato{
    height: 600px;
    width: 750px;
    overflow-y: auto;
}

.contato{
    height: 90px;
    width: 700px;
    line-height: 40px;
    padding-left: 10px;
    margin-bottom: 10px;
    background-color: #cccccc;
    font-size: 20px;
    border-radius: 15px;
    transition: 0.2s;
}

.contato:hover{
    width: 720px;
    background-color: #ffff56;
    font-weight: bold;
    transition: 0.2s;
    cursor: pointer;
}

.usuarioNivel{
    height: 40px;
    width: 350px;
    line-height: 40px;
    padding-left: 10px;
    margin-bottom: 10px;
    background-color: #cccccc;
    font-size: 20px;
    border-radius: 15px;
    transition: 0.2s;
}

.usuarioNivel:hover{
    background-color: #ffff56;
    font-weight: bold;
    transition: 0.2s;
}

.direito{
    float: right;
    margin-right: 10px;
    visibility: hidden;
}

.direito img{
    height: 40px;
    width: 40px;
}

.usuarioNivel:hover > .direito{
    visibility:visible;
}

.contato:hover > .direito{
    visibility:visible;
}

.direito img{
    height: 20px;
    width: 20px;
}

#rodape{
    height: 100px;
    width: 800px;
    border-bottom-left-radius: 55px;
    border-bottom-right-radius: 55px;
    background-color: #333333;
    text-align: center;
    line-height: 100px;
    color: #ffffff;
}